*{
  max-width: 1200px;
}

.sidebar{
  margin:0;
  padding:0;
  width:300px;
  background-color: red;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a{
  display: block;
  color: white;
  padding: 16px;
  text-decoration:none;
}

.sidebar a.active{
  background-color: #04aa6d;
  color:white;
}

.sidebar a:hover:not(.active){
  background-color: #555;
  color:white;
}

div.content{
  margin-left:300px;
  padding:20px 20px;
  height:1000px;
}

